<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원목록</title>
    <link href="/css/noticeList.css?86" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div class ="head_left">
        <a th:href ="@{'/home'}"><img class="image1" src="/images/complogo.png"></img></a>
        <span class="page"><br><br><br><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;회원 목록</strong></span>
    </div>
    <div class = "head_right">
        <a th:href="@{'/intro'}" class ="head_span"><br>소학회 소개</a>
        <a th:href="@{'/notice'}" class ="head_span"><br>공지사항</a>
        <a th:href="@{'/activity'}" class ="head_span"><br>활동 내역</a>
        <a th:href="@{'/Sos'}" class ="head_span"><br>학습 자료 게시판</a>
        <a th:href="@{'/member/login'}" class ="head_span"><br>로그인</a>
        <a th:href="@{'/logout'}" class="head_span"><br>로그아웃</a>
    </div>
</header>
<br>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">이름</th>
            <th scope="col">학번</th>
            <th scope="col">학년</th>
            <th scope="col">권한</th>
            <th scope="col">전화번호</th>
            <th scope="col">가입일</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="member : ${memberList}">
            <th scope="row">
                <a th:href="@{'/admin/memberList/' + ${member.id}}">
                    <span th:text="${member.name}"></span>
                </a>
            </th>
            <td>
                <span th:text="${member.username}"></span>
            </td>
            <td>
                <span th:text="${member.grade}"></span>
            </td>
            <td>
                <span th:text="${member.role}"></span>
            </td>
            <td>
                <span th:text="${member.phoneNum}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(member.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-auto">
        <a class="btn btn-primary" th:href="@{/admin/memberList/delete}" role="button">회원 삭제</a>
    </div>
</div>
</body>
</html>