<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원목록</title>
</head>
<body>
<a th:href="@{'/home'}">
    <span th:text="꼼페이지"></span>
</a>
<br>
<a th:href="@{'/admin'}">
    <span th:text="관리자페이지"></span>
</a>
<br>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">이름</th>
            <th scope="col">학번</th>
            <th scope="col">학년</th>
            <th scope="col">권한</th>
            <th scope="col">전화번호</th>
            <th scope="col">가입일</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="member : ${memberList}">
            <th scope="row">
                <span th:text="${member.name}"></span>
            </th>
            <td>
                <span th:text="${member.username}"></span>
            </td>
            <td>
                <span th:text="${member.grade}"></span>
            </td>
            <td>
                <span th:text="${member.role}"></span>
            </td>
            <td>
                <span th:text="${member.phoneNum}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(member.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>