<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="/css/login.css?16" rel="stylesheet" type="text/css">
    <!-- Style CSS -->
</head>
<body>
<header>
    <div class ="head_left">
        <a th:href ="@{'/home'}"><img class="image1" src="/images/complogo.png"></a>
        <span class="page"><br><br><br><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;로그인</strong></span>
    </div>
    <div class = "head_right">
        <a th:href="@{'/intro'}" class ="head_span"><br>소학회 소개</a>
        <a th:href="@{'/notice'}" class ="head_span"><br>공지사항</a>
        <a th:href="@{'/activity'}" class ="head_span"><br>활동 내역</a>
        <a th:href="@{'/Sos'}" class ="head_span"><br>학습 자료 게시판</a>
        <a th:href="@{'/member/login'}" class ="head_span"><br>로그인</a>
        <a th:href="@{'/logout'}" class="head_span"><br>로그아웃</a>
    </div>
</header>

<div class="container">
    <div class="wrap">
    <form class="login" method="post" action ="/member/action">
        <h1 class="h1">Please sign in</h1>


        <div class="form-floating">
            <label for="floatingInput">ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="floatingInput" type="text" class="form-control" name="username">
        </div>
        <br>
        <div class="form-floating">
            <label for="floatingPassword">Password</label>
            <input id="floatingPassword" type="password" class="form-control" name="password" autocomplete="off">

        </div>

        <div class="form-floating">
            <input id="rememberId" type="checkbox"/>
            <label for="rememberId">아이디 저장</label>
        </div>
        <br>
        <div class="form-floating">
        <button type="submit" class="login_btn">로그인</button>
        </div>
    </form>
    <div th:if="${param.error}"  class="alert alert-danger" role="alert">
        <span th:text="${exception}"></span>
    </div>
    <div>
        <p class="mt-5 mb-3 text-muted">&copy; 2023 Comp D&A WebSite By 21학번 김원중</p>
    </div>
    </div>
</div>
<div class="wave"></div>
<div class="wave"></div>

</body>
</html>