<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>활동내역 - 목록</title>
    <link href="/css/noticeList.css?10" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div class ="head_left">
        <a th:href ="@{'/home'}"><img class="image1" src="/images/complogo.png"></img></a>
        <span class="page"><br><br><br><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;활동내역</strong></span>
    </div>
    <div class = "head_right">
        <a th:href="@{'/intro'}" class ="head_span"><br>소학회 소개</a>
        <a th:href="@{'/notice'}" class ="head_span"><br>공지사항</a>
        <a th:href="@{'/activity'}" class ="head_span"><br>활동 내역</a>
        <a th:href="@{'/Sos'}" class ="head_span"><br>학습 자료 게시판</a>
        <a th:href="@{'/member/login'}" class ="head_span"><br>로그인</a>
        <a th:href="@{'/logout'}" class="head_span"><br>로그아웃</a>
    </div>
</header>
<div class="container">
    <div class="col-auto">
        <a class="btn_primary" type="submit" th:href="@{/activity/activityPost}" role="button">글쓰기</a>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="topPost : ${TopPostList}">
            <th scope="row">
                <span class="row1" th:text="공지"></span>
            </th>
            <td>
                <a th:href="@{'/topFixedPost/' + ${topPost.id}}">
                    <span class ="post_name" th:text="${topPost.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${topPost.author}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(topPost.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        <tr class="text-center" th:each="post : ${postList}">
            <th scope="row">
                <span th:text="${post.id}"></span>
            </th>
            <td>
                <a th:href="@{'/activity/activityPost/' + ${post.id}}">
                    <span class ="post_name" th:text="${post.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${post.author}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div class="wave"></div>
<div class="wave"></div>
</body>
</html>