@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f9fa; ;
}

#menu {
    height: 100%;
    position: fixed;
    background-color: #f1f9fa;
    width: 300px;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    left: 60px;
    z-index: 800;
}

#menu.expanded {
    transform: translateX(0%);
    left: 0px;
}

.menu-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

#blob {
    top: 0;
    z-index: -1;
    right: 60px;
    transform: translateX(100%);
    height: 100%;
    position: absolute;
}

#blob-path {
    height: 100%;
    fill:  rgba(0,0,0,.25);
}

.hamburger {
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -10px;
}

.hamburger .line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
}

.hamburger .line:nth-child(2) {
    top: 50%;
    margin-top: -2px;
}

.hamburger .line:nth-child(3) {
    bottom: 0;
}

h1 {
    position: fixed;
    right: 0;
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 10px;
}
a {
    text-decoration : none;
    color : inherit;
}
ul li {
    color: #000000;
    font-family: 'GangwonEdu_OTFBoldA';
    padding: 20px 0;
}
.name1{
    font-weight: bold;
}

h2 {
    position: absolute;
    left: 50%;
    color: #000000;
    margin: 0;
    font-size: 16px;
    font-family: 'GangwonEdu_OTFBoldA';
    font-weight: 100;
    margin-bottom: 700px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:700');
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #cef6fc;
    display: flex;
    align-items: center;
}

.TEXT {
    transition: all 0.5s;
    /*-webkit-text-stroke: 4px #d6f4f4;*/
    font-variation-settings: "wght" 800, "ital" 1;
    font-size: 20vmin;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 10px 10px 0px rgb(249, 155, 155),
    14px 14px 0px #1565C0,
    18px 18px 0px #42A5F5,
    38px 38px 38px #482896;
    cursor: pointer;
    padding-right: 120px;
    padding-bottom: 30px;
    z-index:1000;
}

.TEXT:hover{
    font-variation-settings: "wght" 100, "ital" 1;
    text-shadow: none;
    color: rgb(249, 155, 155);
}

.blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: #023F92;
    width: 50vmax;
    z-index: 500;
    animation: move 7s ease-in-out infinite;
    transform-origin: 50% 50%;
    opacity: 0.9;
}

@keyframes move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
}

/**/
.man {
    width: 200px;
    margin-top: 40px;
    height: 360px;
    z-index: 1500;
    margin-left: 500px;
}

.head {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    animation-name: body;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: -8px 8px 8px -8px #333;
}

.body {
    height: 144px;
    width: 62px;
    background-color: #fff;
    border-radius: 100% 20% 0 0;
    transform: skewX(-2deg);
    position: relative;
    left: -50px;
    animation-name: body;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: -8px 8px 8px -8px #333;
}

.foot1 {
    width: 40px;
    height: 14px;
    border-radius: 10px 80% 4px 4px;
    transform: skewX(5deg);
    background-color: #fff;
    display: inline-block;
    animation-name: foot;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: -8px 8px 8px -8px #333;
}

.foot2 {
    width: 40px;
    height: 14px;
    border-radius: 10px 80% 4px 4px;
    transform: skewX(5deg);
    background-color: #fff;
    display: inline-block;
    animation-name: foot;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: .9s;
    box-shadow: -8px 8px 8px -8px #333;
}

.feet {
    text-align: left;
    position: relative;
    top: 100px;
    left: -66px;
}
.shadow {
    width: 120px;
    height: 8px;
    border-radius: 50%;
    content: "";
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    bottom: -2px;
    left: -16px;
    animation-name: shadow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 30000;
}

@keyframes shadow {
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.96);
    }
}


@keyframes foot {
    20% {
        transform: translate3d(34px, -16px, 0) rotate(4deg);
    }
    26% {
        transform: translate3d(34px, -10px, 4px) rotate(0deg);
    }
    40% {
        transform: translate3d(56px, -6px, 0) rotate(-6deg);
    }
    44% {
        transform: translate3d(56px, 0, 0) rotate(0deg);
    }

}

@keyframes body {
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(5px);
    }
}

