@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
header{
    display: flex;
    width:100%;
    height: 150px;
    border: 2px solid #f1f9fa;
    background-color: #f1f9fa;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse: collapse;
    
}
.head_left{
    width:20%;
    align-items:center;
    margin-right:30%;

}
img{
    width: 50%;
    height:25%;
    object-fit:contain;
  }

  .page{
    font-size: 20px;
  }
 


.head_right{
    display: flex;
    width:700px;
    margin-left:50px;
    color:black;
    
    
}
.head_span{
    width:550px;
    margin-left:8px;
    margin-right:8px;
    padding-bottom : 6px;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);

    height:40%;
    line-height: 25px;

    font-size: 12px;
    text-align: center;
    vertical-align: center;
    text-decoration : none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
}
.head_span:hover {
    background-position: right center;
}

.container{
    margin:20px 350px;
}

body{
    margin:0;
    font-family: 'GangwonEdu_OTFBoldA';
    /*border: 2px solid #f1f6fa;
    background-color: #f1f9fa;*/
}
textarea{
    width: 100%;
    height: 350px;
}

table{

    width:100%;
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}
td{
    text-align: center;
    height:40px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}
th{
    text-align: center;
    height:40px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}
.row1{
    color : red;
}

.btn_primary{
    font-size: 18px;
    text-align: center;
    text-decoration : none;
    color: #6f919a;
}
.post_name{
    font-size: 12px;
    text-align: center;
    text-decoration : none;
    color:black;

}

.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: fixed;
    bottom: 0;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    z-index: -1000;
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 0.3;
    z-index: -1000;

}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}
@keyframes swell {
    0%, 100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
}