<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css?64" rel="stylesheet" type="text/css">
</head>
<body margin="0">
    <header>
    <div class ="head_left">
        <a th:href ="@{'/home'}"><img class="image1" src="/images/complogo.png"></img></a>
        <span class="page"><br><br><br><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;공지사항</strong></span>
    </div>
    <div class = "head_right">
        <a th:href="@{'/intro'}" class ="head_span">소학회 소개</a>
        <a th:href="@{'/notice'}" class ="head_span">공지사항</a>
        <a th:href="@{'/activity'}" class ="head_span">활동 내역</a>
        <a th:href="@{'/Sos'}" class ="head_span">학습 자료 게시판</a>
        <a th:href="@{'/member/login'}" class ="head_span">로그인</a>
        <a th:href="@{'/logout'}" class="head_span">로그아웃</a>
    </div>
    </header>

      <div class="Background_Container">
        <img class="image2" src="/images/mainbackground.png"></img>
      </div>   
    
</body>
</html>